@model IEnumerable<TotalTeamDesigns.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
   
@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Content/images/@item.ImageUrl" alt="@item.Description" style="width: 200px; height: 200px;" />
        </td>
        <td>
            @Html.ActionLink(item.Description, "Details", new { id = item.ProductId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}

</table>
